
<div data-ng-show="security.isSignupShown">
    <form novalidate name="signupForm" data-ng-submit="security.signup(user.username, user.email, user.password, user.password2)">
        <div>
            <label>Username:</label>
            <input type="text" required name="username" data-ng-minlength=3 data-ng-maxlength=20 data-ng-model="user.username" ensure-unique="username" ng-focus/>
            <div class="error" data-ng-show="signupForm.username.$dirty && signupForm.username.$invalid && !signupForm.username.$focused">
                <small class="error" data-ng-show="signupForm.username.$error.required">
                    Your name is required.
                </small>
                <small class="error" data-ng-show="signupForm.username.$error.minlength">
                    Your name is required to be at least 3 characters
                </small>
                <small class="error" data-ng-show="signupForm.username.$error.maxlength">
                    Your name cannot be longer than 20 characters
                </small>
                <small class="error" data-ng-show="signupForm.username.$error.unique">
                    That username is taken, please try another
                </small>
            </div>
            <br/>
        </div>
        <div>
            <label>Email:</label>
            <input type="email" required name="email" data-ng-model="user.email" data-ng-minlength=3 data-ng-maxlength=20 ng-focus />
            <div class="error" data-ng-show="signupForm.email.$dirty && signupForm.email.$invalid && !signupForm.email.$focused">
                <small class="error" data-ng-show="signupForm.email.$error.required">
                    Your email is required.
                </small>
                <small class="error" data-ng-show="signupForm.email.$error.minlength">
                    Your email is required to be at least 3 characters
                </small>
                <small class="error" data-ng-show="signupForm.email.$error.email">
                    That is not a valid email. Please input a valid email.
                </small>
                <small class="error" data-ng-show="signupForm.email.$error.maxlength">
                    Your email cannot be longer than 20 characters
                </small>
            <br/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" required name="password" data-ng-model="user.password"/>
        </div>
        <div>
            <label>Repeat password:</label>
            <input type="password" required name="password2" data-ng-model="user.password2"/>
        </div>
        <div>
            <button type="submit" data-ng-disabled="signupForm.$invalid">Sign Up</button>
        </div>
    </form>
    <p>
        <small>Hint - some strong password are correcthorsebatterystaple, rWibMFACxAUGZmxhVncy,
            Ba9ZyWABu99[BK#6MBgbH88Tofv)vs$w
        </small>
    </p>
</div>
