/*
.password-strength-0 {
    text-align: center;
    font-weight: bold;
}
.password-strength-0, .password-strength-1 {
    background-color: red;
    border-color: indianred;
}
.password-strength-0, .password-strength-1 {
    border-color: indianred;
    background-color: indianred;
}
.password-strength-2 {
    background-color: darkorange;
    border-color: orange;
}
.password-strength-3, .password-strength-4 {
    border-color: lightgreen;
    background-color: lightgreen;
}
.password-strength-3, .password-strength-4 {
    background-color: green;
    border-color: green;
}
*/

ul {
    list-style:none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
ul:after {
}

ul > li {
    display: inline-block;
    margin-right: 0.5em;
    padding: 0.5em;
    width: 6em;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

ul > li > a {
    display: inline-block;
    width: 100%;
}

.alert {
    background-color: grey;
    color: black;
}

.toolbar{
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

input.ng-invalid {
    border: 1px solid red;
}
input.ng-valid {
    border: 1px solid green;
}

.error {
    color: white;
    background-color: indianred;
    padding: 0.2em;
    width: 47%;
}




