ul {
    list-style:none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
ul:after {
}

ul > li {
    display: inline-block;
    margin-right: 0.5em;
    padding: 0.5em;
    width: 6em;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

ul > li > a {
    display: inline-block;
    width: 100%;
}

.alert {
    background-color: grey;
    color: black;
}

.toolbar{
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

input.ng-invalid {
    border: 1px solid red;
}

input.ng-valid {
    border: 1px solid green;
}

input.ng-pristine {
    border: 1px solid black;
}

.error {
    color: white;
    background-color: indianred;
    padding: 0.2em;
    width: 47%;
}

.password-check {
    width: 100%;
    margin-bottom: 0.7em;
}

.password-very-weak {
    color: white;
    background-color: indianred;
    padding: 0.5em;
    width: 47%;
}
.password-weak {
    color: white;
    background-color: indianred;
    padding: 0.5em;
    width: 47%;
}
.password-medium {
    color: white;
    background-color: #828200;
    padding: 0.5em;
    width: 47%;
}
.password-strong {
    color: white;
    background-color: green;
    padding: 0.5em;
    width: 47%;
}




